{% extends 'dashboard/admin.html' %}
{% load static %}
{% block content %}

<body>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Bike Name</th>
                <th>Rental Type</th>
                <th>Price</th>
                <th colspan="2" >Action</th> 
                <!-- Added column for action -->
            </tr>
        </thead>
        <tbody>
            {% for obj in userdata %}
            <tr>
                <td><input type="text" id="cust_name{{ obj.cust_name }}" value="{{ obj.cust_name }}"> </td>
                <td><input type="email" id="email{{ obj.cust_name }}" value="{{ obj.email }}"></td>
                <td><input type="text" id="bike_name{{ obj.cust_name }}" value="{{ obj.bike_name }}"></td>
                <td><input type="text" id="rental_type{{ obj.cust_name }}" value="{{ obj.rental_type }}"></td>
                <td><input type="text" id="price{{ obj.cust_name }}" value="{{ obj.price }}"></td>
                <td><button class="delete-btn" onclick="deleterecord('{{obj.cust_name}}');">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <style>

        .table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        .table thead {
            background-color: #4CAF50;
            color: white;
        }

        .table th, .table td {
            padding: 12px;
            border: 1px solid #ddd;
            text-align: left;
        }

        .table tr:hover {
            background-color: #ddd;
        }

        .table input[type="text"],
        .table input[type="email"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .table input[type="text"]:focus,
        .table input[type="email"]:focus {
            border-color: #4CAF50;
            outline: none;
        }

        .delete-btn {
            background-color: #dc3545; /* Bootstrap Danger color */
            color: white;
            border: none;
            border-radius: 4px;
            padding: 8px 12px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .delete-btn:hover {
            background-color: #c82333;
        }

    </style>

    <script>

        function deleterecord(cust_name)
        {
        console.log(cust_name);
        $.ajax({
            type: "POST",
            url: "{% url 'delete_book' %}",
            data: {"cust_name": cust_name},
            success: function(data)
            {
                console.log(data);
                window.location.replace("/dashboard/view_book");
            }
        });
        }
        
    </script>
</body>
{% endblock content %}